:root {
  --branding-color: #7bccc8;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Space Grotesk", monospace;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #36353e;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
/* Header styling */
p {
  font-family: var(default-font-family);
  font-weight: normal;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  font-family: var(default-font-family);
}

.hero h2 {
  font-family: var(default-font-family);
  font-size: 24px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: var(default-font-family);
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Departure Mono", monospace;
  font-weight: bold;
}

/* Content below header styling: */

h2 {
  font-size: 33px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
}

.btn-branding-outline {
  border-radius: 5px;
  font-family: "Departure Mono", monospace;
  font-weight: bold;
  background-color: transparent;
  color: var(--branding-color);
}

.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

footer {
  border-top: 1px solid #f9f7fe; 
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

/* Media Queries for responsiveness: */ 
@media (max-width: 765px) {
  .hero {
    padding: 20px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .btn-about {
    padding: 8px 16px;
    font-size: 14px;
  }
  .about-section p {    
    font-size: 15px;

  }
}

/* About section style: */

.about-section h1 {
  font-family: var(--default-font-family);
}
.about-section p {
  font-family: var(--default-font-family);
}
.about-section {
  background-color: var(--secondary-color);
  padding: 50px 20px;
  text-align: center;
}
.btn-about {
  background-color: var(--branding-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Departure Mono", monospace;
  font-weight: bold;
}

.work-page h2 {
  font-family: var(--default-font-family);
  font-size:18px;
}


.work-page p {
  font-family: var(--default-font-family);
  font-size: 15px;
}
